* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    background-color: white;
}

#hero-section {
    padding: 2em;
    background-color: #f7f5f5;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
}

section {
    border: 1px solid rgb(180, 223, 40);
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.nav-bar  {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center; 
    gap: 1rem;
    list-style-type: none;
}

.main-content {
    display: flex;
    width: 100%;
}

.content {
    width: 50%;
    font-size: 30px;
}

.pics {
    width: 50%;
}

.img-one {
    width: 100%;
}

.main {
    width: 100%;
    background-color: #f5ebeb;
}

.view {
    color: #979090;
}

.certain {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fff;
    gap: 0.5rem;
    padding: 2rem;
}

.btn {
    box-sizing: border-box;
}

.space-one {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #fff;
    padding: 3rem;
}

.certainty {
    display: grid;
    background-color: #f5f0f0;
    border-radius: 13px;
}

button {
    border-radius: 5rem;
    padding: 5px;
    text-align: center;
    background-color: #f9f5f5;

}

.pages {
    display: grid;
    background-color: #f5f0f0;
    border-radius: 13px;
}

.certainty-three {
    display: flex;
    justify-content: space-between;
}

.up-date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 2rem;
    padding: 2rem;
}

.enter-tain {
    background-color: #ffff00;
    display: grid;
    grid-template-columns: 65% 35% ;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.patient {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.alone {
    background-color: #fff;
    border-radius: 10px;
    margin: 8px;
}

.sport {
    background-color: #fff;
    border-radius: 10px;
    margin: 8px;
}

.port {
    background-color: #fff;
    margin-top: 10px;
    border-radius: 3px;
}

.icon {
    display: flex;
    justify-content: space-between;
}

button,
 h6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.master {
    background-color: #f37d52;
    margin-bottom: 15px;
    border-radius: 10px;
    color: #fff;
    padding: 0.5rem;
    margin: 0.5rem;

}

.progres {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin-bottom: 1rem;
}

.fun {
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #f37d52;
}

.manage {
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f39af3;
}

.avoid {
    height: 20%;
    width: 20%;
    border-radius: 25rem;
}

.var {
    height: 20%;
    width: 20%;
    border-radius: 25rem;
}

.vas {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.fa-circle-xmark {
    font-size: 3rem;
}

.fa-square-instagram {
    font-size: 3rem;
}

.fa-facebook {
    font-size: 3rem;
}

.recomment {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 19px;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    padding: 2rem;
    gap: 1.5rem;
}

.paragraph {
    width: 100%;
    border-radius: 15px;
}

.opm {
     width: 100%;
    border-radius: 15px;
}

.power-bar {
    background-color: #ebd5d5;
    margin: 2rem;
}

span {
   color: #9b9494;
}

.change {
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.frequency {
    display: grid;
    grid-template-columns: 45% 50%;
    margin: 1rem;
    padding: 3rem;
    background-color: #fff;
    border-radius: 10px;
}

.forver {
    display: block;
}

.applications {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color:  #f37d52;
    padding: 4rem;
}

.button {
    display: flex;
    text-align: right;
    align-items: center;
}

.bars {
    display: flex;
    justify-content: space-between;
}

.conclude {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 1rem;
}


.appreciate{
    box-shadow: 0 4px 4px #bab;
    border-radius: 15px;
}

.congrats {
    box-shadow: 0 4px 4px #bab;
    width: 100%;
    border-radius: 15px;
}

.welcome {
    box-shadow: 0 4px 4px #bab;
    width: 100%;
    border-radius: 15px;
}

.handsome {
    box-shadow: 0 4px 4px #bab;
    width: 100%;
    border-radius: 15px;
}

.menu-b {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 3rem;
 
}

.beauty {
    box-shadow: 0 4px 4px #bab;
    width: 100%;
    border-radius: 15px;
}

.favor {
    box-shadow: 0 4px 4px #bab;
    width: 100%;
    border-radius: 15px;
}